/* Botones de Redes Sociales  */
    .social_bookmarks_container {
    width:176px;
    height:176px;
    padding:0;
    position:relative;
    }
    .social_bookmarks {
    position:relative;
    float:right;
    margin:0;
    padding:0;
    }
    .social_bookmarks li{
    margin:0 0 1px 1px;
    height:77px;
    width:77px;
    list-style:none;
    float:left;
    padding:0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
    .social_bookmarks li a {
    float:left;
    width:77px;
    line-height:24px;
    display: block;
    text-indent: -99999px;
    margin:0px;
    outline: none;
    padding:0;
    min-height:77px;
    height:100%;
    text-decoration:none;
    }
    .social_bookmarks .iconrss{background: #A4A4A4 url(../img/insta.PNG) top left no-repeat;}
    .social_bookmarks .icontwitter{background: #D8D8D8 url(../img/google.PNG) top left no-repeat;}
    .social_bookmarks .iconfacebook{background: #E6E6E6 url(../img/face.PNG) top left no-repeat;}
    .social_bookmarks .icongplus{background: #F1F1F1 url(../img/twiter.PNG) top left no-repeat;}
    .social_bookmarks .iconfacebook:hover{background-position:center -77px; background-color: #37589b;}
    .social_bookmarks .icontwitter:hover {background-position:center -77px; background-color: #46d4fe;}
    .social_bookmarks .icongplus:hover {background-position:center -77px; background-color: #de5a49;}
    .social_bookmarks .iconrss:hover{background-position:center -77px; background-color: #ff6600;}
    .social_bookmarks li:hover a{background: transparent url(//lh4.googleusercontent.com/-XNviZ_JqvyU/U4vDMDFAX8I/AAAAAAAALLk/E4VIJr1onlo/s000/img/twiter.PNG.png) no-repeat;
    }